
.navbar{
  width:100%;
  background: white;
}

.navbar-logo img{
    max-height: 5rem;
    width: auto;
}

.navbar-container{
  width: 100%;
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar-buttons{
  display:flex;
  align-items: center;
  gap: 0.75rem;
}

